<h1 class="welcome">Welcome to MedTracker!</h1>

</br>
<h2>What is MedTracker?</h2>
<p>MedTracker is an application where users can sign-up and log medications they have been prescribed.</p>
</br>
</br>
<h2>What is the future for MedTracker?</h2>
<p>In the hopefully not too far future, MedTracker will be a platform that integrates with various EMR's.</p>
<p>This would eliminate users having to manually add their medications, because who wants to do that?</p>
<p>Whenever they are prescribed a new medication MedTracker will load it into their profile and then</p>
<p>send reminders based of the prescription instructions.</p>
</br>
</br>